---
title: Le Wagon Middleman boilerplate
---

  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Styl.us</h1>
          <br>
          <p>Turn your pen into your best friend</p>
          <p>Make every line you write count.</p>
          <br>
          <div class="btn btn-primary">
            <%= link_to "GET YOUR STYLUS", "" %>
          </div>
        </div>
        <div class="col-xs-6">
        </div>
      </div>
    </div>
  </div>

  <div class="bg-blue">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <div class="card">
            <%= image_tag "paper.svg" %>
            <h2>Natural writing</h2>
            <p>
              Don't change your habits, write with a pen <strong>on paper notebooks</strong>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <div class="card">
            <%= image_tag "computer.svg" %>
            <h2>Sync. copy</h2>
            <p>
              Stylus instantaneously copy your text on your computer, <strong>in real-time</strong>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <div class="card">
            <%= image_tag "analytics.svg" %>
            <h2>Analytics</h2>
            <p>
              Get feedbacks on the way you write, <strong>your favorite words, your frequent mistakes</strong>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
          <div class="card">
            <%= image_tag "data.svg" %>
            <h2>Storing your texts</h2>
            <p>
              Everything line writen with your stylus is stored in the cloud, so that <strong>it's never lost</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center padded">
    <h2>Get news from stylus</h2>
    <p>Leave us your mail and get stylus news</p>
    <form action="#" class="form-inline">
      <input type="email" placeholder="bob@gmail.com" class="form-control">
      <input type="submit" value="subscribe" class="btn btn-primary" class="form-control">
    </form>
  </div>

  <div id="map" style="width: 100%; height: 600px;"></div>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
  <script type="text/javascript">
  var myLatlng = new google.maps.LatLng(48.852937,2.364178);

  var myOptions = {
    zoom: 16,
    center: myLatlng,
    scrollwheel: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [
    {
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#165c64"
            },
            {
                "saturation": 34
            },
            {
                "lightness": -69
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#b7caaa"
            },
            {
                "saturation": -14
            },
            {
                "lightness": -18
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "landscape.man_made",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#cbdac1"
            },
            {
                "saturation": -6
            },
            {
                "lightness": -9
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#8d9b83"
            },
            {
                "saturation": -89
            },
            {
                "lightness": -12
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#d4dad0"
            },
            {
                "saturation": -88
            },
            {
                "lightness": 54
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#bdc5b6"
            },
            {
                "saturation": -89
            },
            {
                "lightness": -3
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#bdc5b6"
            },
            {
                "saturation": -89
            },
            {
                "lightness": -26
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#c17118"
            },
            {
                "saturation": 61
            },
            {
                "lightness": -45
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#8ba975"
            },
            {
                "saturation": -46
            },
            {
                "lightness": -28
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#a43218"
            },
            {
                "saturation": 74
            },
            {
                "lightness": -51
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "administrative.province",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#ffffff"
            },
            {
                "saturation": 0
            },
            {
                "lightness": 100
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "administrative.neighborhood",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#ffffff"
            },
            {
                "saturation": 0
            },
            {
                "lightness": 100
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative.locality",
        "elementType": "labels",
        "stylers": [
            {
                "hue": "#ffffff"
            },
            {
                "saturation": 0
            },
            {
                "lightness": 100
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative.land_parcel",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#ffffff"
            },
            {
                "saturation": 0
            },
            {
                "lightness": 100
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "all",
        "stylers": [
            {
                "hue": "#3a3935"
            },
            {
                "saturation": 5
            },
            {
                "lightness": -57
            },
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.medical",
        "elementType": "geometry",
        "stylers": [
            {
                "hue": "#cba923"
            },
            {
                "saturation": 50
            },
            {
                "lightness": -46
            },
            {
                "visibility": "on"
            }
        ]
    }
] // TODO: replace [] by array from https://snazzymaps.com/
  };

  var map = new google.maps.Map(document.getElementById('map'), myOptions);
  var marker = new google.maps.Marker({
    position: myLatlng,
    map: map,
    title: "You are here!"
  });
  </script>
